<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!--Tailwind-->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Socket.io -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
  </head>
  <body>
    <nav>
      <div class="sticky h-20 w-full bg-orange-400 p-6">
        <div class="grid grid-cols-2">
          <img
            src="{{ url_for('static', filename='img/Mk2.png') }}"
            alt="Monitoring Kandang"
          />
          <a
            href="http://www.emqx.io/online-mqtt-client#/recent_connections"
            target="_blank"
            class="text-2xl text-white mx-auto"
            >Mqtt Client</a
          >
        </div>
      </div>
    </nav>
    <div class="container mt-20">
      <div class="grid grid-cols-2">
        <div
          class="grid grid-cols-1 w-1/2 h-full md:grid-cols-2 md:w-4/6 md:h-4/6 mt-4 mx-auto gap-4"
        >
          <div class="box-border h-40 w-60 bg-orange-400 rounded-3xl mx-auto">
            <p class="text-xl text-white font-bold text-center mt-2">
              Ketinggian Air
            </p>
            <p
              class="text-5xl text-white font-bold text-center mt-6"
              id="nilaiKetinggian"
            >
              {{ dataSensor[0] }}
            </p>
          </div>
          <div class="box-border h-40 w-60 bg-orange-400 rounded-3xl mx-auto">
            <p class="text-xl text-white font-bold text-center mt-2">
              Suhu Kandang
            </p>
            <p
              class="text-5xl text-white font-bold text-center mt-6"
              id="suhuKandang"
            >
              {{ dataSensor[1] }}
            </p>
          </div>
          <div class="box-border h-40 w-60 bg-orange-400 rounded-3xl mx-auto">
            <p class="text-xl text-white font-bold text-center mt-2">
              Kelembaban Kandang
            </p>
            <p
              class="text-5xl text-white font-bold text-center mt-6"
              id="kelembabanKandang"
            >
              {{ dataSensor[2] }}
            </p>
          </div>
          <div class="box-border h-40 w-60 bg-orange-400 rounded-3xl mx-auto">
            <p class="text-xl text-white font-bold text-center mt-2">
              Intensitas Cahaya
            </p>
            <p
              class="text-5xl text-white font-bold text-center mt-6"
              id="intensitasCahaya"
            >
              {{ dataSensor[3] }}
            </p>
          </div>
        </div>
        <div class="side">
          <div
            class="box-border h-32 w-96 bg-orange-400 rounded-3xl mx-auto mt-4 p-2 shadow-lg shadow-orange-200/50"
          >
            <p class="text-xl text-white font-bold text-center">
              Subscribe Topic
            </p>
            <hr class="border-2 mb-2" />
            <p class="text-xl text-white font-bold text-center">
              TubesIOT/kelompok1/sensor
            </p>
            <p class="text-xl text-white font-bold text-center">
              TubesIOT/kelompok1/aktuator
            </p>
          </div>
          <div class="chart mt-10">
            <p class="text-2xl mb-2 text-center font-bold">GRAFIK MONITOR</p>
            <canvas
              id="myLineChart"
              class="w-3/4 h-80 bg-white shadow-lg shadow-slate-900 mx-auto"
            ></canvas>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!--<script>
      var socket = io.connect("http://localhost:5000");

      socket.on("update_data", function (data) {
        // Perbarui tampilan dengan data terbaru
        console.log("Received data:", data);
        if (data.data) {
          // Fungsi untuk mengupdate nilai elemen
          function updateNilaiElement(id, index) {
            var element = document.getElementById(id);
            if (element) {
              element.innerText = data.data[index];
            } else {
              console.error("Element with ID", id, "not found.");
            }
          }

          // Memanggil fungsi update untuk setiap elemen
          updateNilaiElement("nilaiKetinggian", 0);
          updateNilaiElement("suhuKandang", 1);
          updateNilaiElement("kelembabanKandang", 2);
          updateNilaiElement("intensitasCahaya", 3);
        } else {
          console.error("Invalid or empty dataSensor array:", data.data);
        }
      });
    </script>-->
  </body>
</html>
